<header>
  
  <div class="container"  >
    
    <a routerLink="/" style="color:white;font-weight:bold">{{ appTitle }}</a>
    <nav>      
      <ul>        
        <li><a routerLink="/project" style="color:white;">Add Project</a></li>
        <li><a routerLink="/task" style="color:white;">Add Task</a></li>
        <li><a routerLink="/user" style="color:white;">Add User</a></li>
        <li><a routerLink="/" style="color:white;">View Tasks</a></li>
      </ul>
    </nav>
    
  </div>

</header>