<div *ngIf="success"  style="color:green">
    <strong >Project added successfully</strong> 
</div>
<form [formGroup]="projectForm" (ngSubmit)="createProject()">  
  <fieldset>  
    <div id="legend">
      <legend class="">Add Project</legend>
    </div> 
    <div class="control-group">       
      <div class="controls">
        <input type="text" formControlName="projectname" placeholder="Project Name" class="input-xlarge">
        <div *ngIf="submitted && projectForm.controls.projectname.errors" class="error">
          <div *ngIf="projectForm.controls.projectname.errors.required" style="color:red">Please provide Project Name</div>
        </div>               
      </div>
    </div> 
    <div style="height:10px;clear:both"></div> 

    <div class="control-group">       
      <div class="controls" style="width:200px;float:left">
        <input type="text" formControlName="projectstart" placeholder="Start Date" class="input-xlarge" onfocus="(this.type='date')" >        
        <div *ngIf="submitted && projectForm.controls.projectstart.errors" class="error">
          <div *ngIf="projectForm.controls.projectstart.errors.required" style="color:red">Please provide Start Date</div>
        </div>               
      </div>
       <div class="controls" style="width:200px;float:left">
        <input type="text" formControlName="projectend" placeholder="End Date" class="input-xlarge" onfocus="(this.type='date')" >        
        <div *ngIf="submitted && projectForm.controls.projectend.errors" class="error">
          <div *ngIf="projectForm.controls.projectend.errors.required" style="color:red">Please provide End Date</div>
        </div>               
      </div>
    </div> 
    <div style="height:10px;clear:both"></div> 

     <div class="control-group">       
      <div class="controls">
         <div style="float:left;width:100px;font-weight: normal;">
          <label for="projectpriority" >
          Priority 
          </label>
         </div>
         <div style="float:left"><label> 0 </label></div>
         <div style="float:left">
          <input type="range" formControlName="projectpriority" class="input-xlarge"  min="0" max="30" value="15"/>       
         </div> 
        <div style="float:left"><label> 30 </label></div>  
                    
      </div>
    </div> 
    <div style="height:10px;clear:both"></div> 

    <div class="control-group">       
      <div class="controls">      
          
            <!--<input type="hidden" id="projectmanagerid" name="projectmanagerid" formControlName="projectmanagerid" ng-model="projectmanagerid"  >-->
         <input type="text" name='managerdlist' list="managerdlist" formControlName="projectmanager"  placeholder="Search Manager"  >
        <datalist id="managerdlist">
          <option *ngFor="let c of managerList" id={{c._id}} [value]="c.first_name" >{{c.first_name}} {{c.last_name}}</option>         
        </datalist>        
        <div *ngIf="submitted && projectForm.controls.projectmanager.errors" class="error">
          <div *ngIf="projectForm.controls.projectmanager.errors.required" style="color:red">Please provide Manager Name</div>
        </div>
        
      </div>       
    </div> 
    <div style="height:10px;clear:both"></div>
    
      <div class="control-group">      
      <div class="controls" style="float:left;width:80px" >
        <button class="btn btn-success">Add</button>         
      </div>
      <div class="controls" style="float:left">
        <button type="reset"  class="btn btn-success" >Reset</button>         
      </div>
    </div>
  </fieldset>
</form>

<div style="height:20px;clear:both"></div>

<div class="card card-block mb-0 rounded-0 mp col-sm-12 col-md-12 col-lg-12" style="font-weight: normal;font-size:.875em;">
    <ng2-smart-table [settings]="gridSettings" [source]="gridData" (userRowSelect)="selectRow($event)" 
      (deleteConfirm)="deleteProject($event)" (editConfirm)="updateProject($event)">
    </ng2-smart-table>
</div>